venv/
venv
__pycache__/
__pycache__

venv/Lib
Course Recommender System.csv
data_stream.csv
coursera_1000.csv
udemy_courses.csv

Course Recommender System.csv/
data_stream.csv/
coursera_1000.csv/
udemy_courses.csv/



sample_learner_data.csv

sample_learner_data.csv/
sample_learner_data.csv

sample_data/
sample_data
scaler.pkl/
scaler.pkl